/*
* @Author: gf880623
* @Date:   2018-08-14 22:28:53
* @Last Modified by:   gf880623
* @Last Modified time: 2018-09-15 17:54:42
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
.zhiwen{
	width: 6.16rem;
	height: 3.15rem;
	border-radius: 0.1rem;
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	padding-top: 0.3rem;
	padding-left: 0.13rem;
	padding-right: 0.13rem;
	z-index: 55;
	box-shadow: 0 0 0.1rem 6rem rgba(0, 0, 0, 0.6);
	display: none;
}
.zhiwen .shang{
	width: 100%;
	height: 1.97rem;
	border-bottom: 1px dotted #999;
	overflow: hidden;
}
.zhiwen .shang a{
	display: block;
	width: 100%;
	height: 0.81rem;
}
.zhiwen .shang .zhi{
	width: 100%;
	height: 0.81rem;
	padding-left: 2.47rem;
	/* background-color: red; */
}
.zhiwen .shang .zhi i{
	font-size: 0.8rem;
	line-height: 0.81rem;
	text-align: center;
	color: #f68f8f;
	float: left;
}
.zhiwen .shang h6{
	width: 100%;
	font-size: 0.26rem;
	text-align:center;
	margin-top: 0.1rem;
	/* font-weight: normal; */
}
.zhiwen .shang p{
	font-size: 0.2rem;
	text-align: center;
	font-weight: bold;
	margin-top: 0.1rem;
}
.zhiwen .xia{
	font-size: 0.24rem;
	text-align: center;
	color: blue;
	margin-top: 0.2rem;
}
.ban{
	width: 100%;
	height: 8.04rem;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 55;
	box-shadow: 0 0 0.1rem 6rem rgba(0, 0, 0, 0.6);
    display:none;
}
.ban .zhifu{
	width: 100%;
	height: 6.14rem;
	background-color: pink;
	background-image: url('../img/cg_03.png');
	background-size: cover;
	background-position: center;
}
.ban .kuang{
	width: 100%;
	height: 0.66rem;
	/* background-color: red; */
	padding: 0 0.96rem;
}
.ban .kuang .fanhui input{
	width: 1.94rem;
	height: 0.66rem;
	border-radius: 0.2rem;
	border: none;
	outline: none;
	font-size: 0.28rem;
	text-align: center;
	line-height: 0.66rem;
	background-color: #f7d493;
	float: left;
	color: white;
}
.ban .kuang input{
	width: 1.94rem;
	height: 0.66rem;
	border-radius: 0.2rem;
	border: none;
	outline: none;
	font-size: 0.28rem;
	text-align: center;
	line-height: 0.66rem;
	background-color: #f3435c;
	float: right;
	color: white;
}
header{
	width: 100%;
	height: 4.4rem;
	background: linear-gradient(#fb6a6a,#fb7ca4);
	padding: 0 0.24rem;
}
header .top{
	width: 100%;
	height: 0.89rem;
	/* background-color: pink; */
	margin-bottom: 0.2rem;
}
header .top .left{
	width: 0.5rem;
	height: 100%;
	float: left;
	/* background-color: pink; */
	position: relative;
}
header .top .left .r{
	font-size: 0.42rem;
	color: white;
	position: absolute;
	top: 0.23rem;
	left: 0;
}
header .top .right{
	width: 3.85rem;
	height: 100%;
	float: left;
	/* background-color: yellow; */
	font-size: 0.34rem;
	font-weight: bold;
	font-family: "苹方";
	color: white;
	line-height: 0.89rem;
	text-align: right;
}
header .hot{
	width: 100%;
	height: 0.33rem;
	/* background-color: yellow; */
	margin-bottom: 0.2rem;
	font-size: 0.24rem;
	font-weight: bold;
	font-family: "苹方";
	line-height: 0.33rem;
	color: white;
}
header .cen{
	width: 100%;
	height: 0.34rem;
	/* background-color: blue; */
	margin-bottom: 0.2rem;
	font-size: 0.34rem;
	color: white;
	line-height: 0.34rem;
    font-family: "苹方";

}
header .bott{
	width: 100%;
	height: 0.24rem;
	/* background-color: black; */
	margin-bottom: 0.58rem;
	font-size: 0.24rem;
	font-family: "苹方";
	line-height: 0.24rem;
	color: white;
}
header .card{
	width: 100%;
	height: 2.24rem;
	border-radius: 0.1rem;
	background-color: white;
	box-shadow: 0 0.04rem 0.07rem 0.01rem rgb(251, 91,93);
	padding: 0 0.24rem;
}
header .card .shang{
	width: 100%;
	height: 1.12rem;
	/* background-color: pink; */
	border-bottom: 0.03rem dotted #999;
}
header .card .shang .song {
	width: 1.1rem;
	height: 100%;
	/* background-color: #333; */
	float: left;
	font-size: 0.24rem;
	line-height: 1.12rem;
}
header .card .shang .box{
	width: 0.3rem;
	height: 100%;
	float: right;
	/* background-color: red; */
}
header .card .shang p{
	height: 100%;
	font-size: 0.24rem;
	float: right;
	color: #fb8d18;
	line-height: 1.12rem;
}
header .card .xia{
	width: 100%;
	height: 1.12rem;
	/* background-color: yellow; */
}
header .card .xia .song {
	width: 1.1rem;
	height: 100%;
	/* background-color: #333; */
	float: left;
	font-size: 0.24rem;
	line-height: 1.12rem;
}
header .card .xia .box{
	width: 0.3rem;
	height: 100%;
	float: right;
	/* background-color: red; */
}
header .card .box{
	font-size: 0.23rem;
	line-height: 1.12rem;
	text-align: center;
	color: #999;
}
header .card .xia p{
	height: 100%;
	font-size: 0.24rem;
	float: right;
	color: #fb8d18;
	line-height: 1.12rem;
}
footer{
	width: 100%;
	height: 7.82rem;
	box-shadow: 0.02rem 0 0.07rem 0.01rem rgb(251, 91,93);
	margin-top: 1.11rem;
	padding: 0 0.4rem;
	overflow: hidden;
}
footer ul li{
	width: 100%;
	height: 0.92rem;
	/* background-color: pink; */
	border-bottom: 0.03rem dotted #999;
}
footer ul li:nth-child(1) .xuan{
	width: 3.95rem;
	height: 100%;
	/* background-color: green; */
	float: left;
	font-size: 0.24rem;
	line-height: 0.92rem;
	text-align: right;
	color: black;
	font-family: "苹方";
	font-weight: bold;

}
footer ul li:nth-child(1) .cha{
	width: 0.3rem;
	height: 100%;
	/* background-color: yellow; */
	float: right;
	font-size: 0.23rem;
	color: #999;
	line-height: 0.92rem;
}
footer a{
	display: block;
	width: 6.12rem;
	height: 075rem;
}
footer .button{
	width: 6.12rem;
	height: 0.75rem;
	border-radius: 0.38rem;
	border:0.02rem solid white ;
	background-color: #fb6a6a;
	margin-left: 0.2rem;
	margin-top: 0.8rem;
	padding-top: 0.05rem;
}
footer ul li .fang{
	width: 0.94rem;
	height: 100%;
	float: left;
	/* background-color: red; */
	font-size: 0.48rem;
	line-height: 0.92rem;
	text-align: center;
}
footer ul li:nth-child(2) .fang{
	color: #fb7898;
}
footer ul li:nth-child(3) .fang{
	color: #34c74f;
}
footer ul li:nth-child(4) .fang{
	color: #3e6adc;
}
footer ul li:nth-child(5) .fang{
	color: #3aa5f2;
}
footer ul li:nth-child(6) .fang{
	color: #fb7ca3;
}

footer ul li h5{
	width: 1.2rem;
	height: 100%;
	float: left;
	font-size: 0.24rem;
	line-height:0.75rem;
}
footer ul li .dui{
	width: 0.3rem;
	height: 100%;
	/* background-color: red; */
	float: right;
	font-size: 0.3rem;
	line-height: 0.92rem;
	color: #666666;
}

footer .button h5{
	font-size: 0.24rem;
	text-align: center;
	color: white;

}
footer .button p{
	font-size: 0.18rem;
	text-align: center;
	color: #999;
}